{% extends "index_projects.html" %}
{% block content %}
    <div class="mt-5">
          <table class="table table-bordered">
          <thead>
              <tr>
                 <th scope="col">Наименование проекта</th>
                 <th scope="col">Описание проекта</th>
                 <th scope="col">Дата начала</th>
                 <th scope="col">Дата окончания</th>
                  {% if user.is_authenticated %}
                 <th scope="col">Действия</th>
                  {% endif %}
             </tr>
          </thead>
          <tbody>
             <tr>
                 <td>{{project.name}}</td>
                 <td>{{project.description}}</td>
                 <td>{{ project.start_date | date:'Y-m-d' }}</td>
                 <td>{{ project.end_date |date:'Y-m-d' }}</td>
                 {% if user.is_authenticated %}
                 <td>
                     <a href="{% url 'edit_project' project.pk %}" class="edit" title="Изменить" data-toggle="tooltip"><i class="material-icons orange600">&#xE254;</i></a>
                     <a href="{% url 'delete_project' project.pk %}" class="delete" title="Удалить" data-toggle="tooltip"><i class="material-icons red">&#xE872;</i></a>
                 </td>
                 {% endif %}
             </tr>
          </tbody>
          </table>
        {% if issue_list %}
        <table class="table table-bordered">
          <thead>
              <tr>
                 <th scope="col">Задача</th>
                 <th scope="col">Описание задачи</th>
                 <th scope="col">Статус</th>
                 <th scope="col">Тип</th>
                  {% if user.is_authenticated %}
                 <th scope="col">Действия</th>
                  {% endif %}
             </tr>
          </thead>
         {% endif %}
          <tbody>
             <tr>
                 {% for issue in issue_list %}
                 <td>{{issue.summary}}</td>
                 <td>{{issue.description}}</td>
                 <td>{{issue.status}}</td>
                 <td>{% for tag in issue.type.all %} {{tag.name}}{% endfor %}</td>
                 {% if user.is_authenticated %}
                 <td>
                     <a href="{% url 'edit_issue' issue.pk %}" class="edit" title="Изменить" data-toggle="tooltip"><i class="material-icons orange600">&#xE254;</i></a>
                     <a href="{% url 'delete_issue' issue.pk %}" class="delete" title="Удалить" data-toggle="tooltip"><i class="material-icons red">&#xE872;</i></a>
                 </td>
                 {% endif %}
             </tr>
          </tbody>
            {% empty %}
                    <div class="head_text heading text-center">
                        <p class="about-game">Записи о задачах отсутствуют</p>
                    </div>
            {% endfor %}
    </table>
      </div>
    {% if user.is_authenticated %}
    <div class="form-group text-center mt-3">
        <li class="list-group-item list-group-item-light"><a href="{% url 'add_issue' project.pk %}" data-toggle="modal">
                    <span class="material-symbols-outlined green ">difference</span> Добавить задачу</a></li>
    </div>
    {% endif %}
{% endblock %}


